# Copy this file to .env and fill in PROJECT_ID

PROJECT_ID=your-gcp-project-id # ask Liam for this
REGION=us-central1 # don't change this - gemini only available in central
LLM_BACKEND=google
DB_BACKEND= # leave this blank
PORT=8082
